.Bg4{
    background-image: url("../../../assets/images/homepage/pattern2.png");
    background-size: cover;
    height: 125vh;
    background-color: #132B3B;
    /* position: relative; */
    display: flex;
    overflow: hidden;
}

.max-width{
    width: 100%;
    display: flex;
}


.kotak{
    max-width: 100%;
    height: 800px;
    position: relative;
    top: 70px;
    left: 240px;
}


.kotak1{
    position: absolute;
    width: 284px;
    height: 65px;
    left: 0;
    top: 0;
    background: #F26628;
    border-radius: 0px 45px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 10;
}

.jjt1{
    position: relative;
    width: 222px;
    height: 28px;
    left: 20px;
    top:15px;
    font-family: 'Gill Sans MT';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;  
    color: #FFFFFF;
    z-index: 20;
}

.kotak2{
    position: relative;
    width: 1050px;
    height: 600px;
    padding: auto;;
    background: #224860;
    border-radius: 60px;
    box-shadow: 10px 10px  #0C2434;
    top:100px;
    justify-content: center;
    align-items: center;
    left: 0px;
}

.kotak3{
    position: relative;
    width: 1000px;
    height: 550px;
    padding: auto;
    background: url(../../images/Bgjjt.png);
    border-radius: 45px;
    bottom: -22px;
    justify-content: center;
    align-items: center;
    left: 25px;
    }


    @media screen and (min-width: 280px) and (max-width: 700px) {
        .Bg4{
            width: auto;
            height: 500px;
            background-image: url("../../../assets/images/homepage/pattern2small.png");
            background-size: cover;
        }
    
        .max-width{
            width: 100%;
        }
    
        .kotak{
            width: 430px;
            height: 500px;
            left: 10px;
            top: 5px;
            
        }

        .kotak2{
            width: 300px;
            height: 300px;
            left: 40px;
            top: 90px;
            z-index: 5;
        }
        
        .kotak3{
            width: 280px;
            height: 280px;
            left: 10px;
            top: 10px;   
        }
        .kotak1{
            width: 150px;
        }

        .jjt1{
            width: 150px;
            left: 5px;
            top: 2px;
        }
      }

      @media screen and (min-width: 280px) and (max-width: 375px) {
        .kotak{
            width: 430px;
            height: 500px;
            left: -10px;
            top: 5px;
      }
    }

    @media screen and (min-width: 375px) and (max-width: 450px) {
        .kotak{
            width: 430px;
            height: 500px;
            left: 30px;
            top: 5px;
      }
    }

    @media screen and (min-width: 500px) and (max-width: 550px) {
        .kotak{
            width: 430px;
            height: 500px;
            left: 80px;
            top: 5px;
      }
    }

    @media screen and (min-width: 450px) and (max-width: 500px) {
        .kotak{
            width: 430px;
            height: 500px;
            left: 60px;
            top: 5px;
      }
    }

    @media screen and (min-width: 550px) and (max-width: 600px) {
        .kotak{
            left: 100px;
    }
}

@media screen and (min-width: 600px) and (max-width: 650px) {
    .kotak{
        left: 120px;
}
}

@media screen and (min-width: 650px) and (max-width: 700px) {
    .kotak{
        left: 140px;
}
}


    @media screen and (min-width: 700px) and (max-width: 884px) {
        .Bg4{
            width: auto;
            height: 100vh;
            background-image: url("../../../assets/images/homepage/pattern2small.png");
          }
        
          .max-width{
            max-width: 100%;
           }

           .kotak{
            width: 100%;
            left: 0px;
            top: 0px;
            overflow: hidden;
            
            
           }

           .kotak2{
            width: 500px;
            left: 150px;
            height: 500px;
            top: 80px;
            z-index: 3;

           }

           .kotak3{
            width: 450px;
            height: 450px;
           }
    }

    @media screen and (min-width: 885px) and (max-width: 1000px) {
        .kotak{
            width: 100%;
            left: 0px;
            top: 0px;
        }

        .kotak2{
            left: 220px;
            top: 80px;
            width: 500px;
            height: 500px;
        }

        .Bg4{
            width: auto;
            height: 100vh;
            background-image: url("../../../assets/images/homepage/pattern2small.png");
          }
        
          .max-width{
            max-width: 100%;
           }

           .kotak3{
            width: 450px;
            height: 450px;
           }
    }

    @media screen and (min-width: 1201px) and (max-width: 1280px) {
        .kotak{
            width: 100%;
            left: 0px;
            top: 0px;
        }

        .kotak2{
            width: 850px;
            left: 190px;
            top: 130px;
        }

        .kotak3{
            width: 800px;
        }
    }

    @media screen and (min-width: 1001px) and (max-width: 1200px) {
        .kotak{
            width: 100%;
            left: 0px;
            top: 0px;
        }

        .kotak2{
            width: 800px;
            left: 180px;
            top: 120px;
        }

        .kotak3{
            width: 750px;
        }

    }

    @media screen and (min-width: 1280px) and (max-width: 1400px) {
        .kotak{
            width: 100%;
            left: 0px;
            top: 0px;
        }

        .kotak2{
            width: 1000px;
            left: 170px;
            top: 130px;
        }

        .kotak3{
            width: 950px;
        }
    }

    @media screen and (min-width: 1400px) and (max-width: 1500px) {
        

        .kotak2{
            left: -25px;
            top: 60px;
        }
    }
    
