.cardContainer {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 6rem 0 6rem 0;
    overflow: visible;
    z-index: 2;
}

.carouselItem {
    display: flex !important;
    height: 160vmin;
    width: 80vw;
    flex-direction: row;
    background-color: #224860;
    border-radius: 3vmin;
    position: relative;
    justify-content: center;
    align-items: center;
}

.videoContainer {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 9rem 0;
    overflow: hidden;
    z-index: -2;
}

.videoItem {
    display: flex !important;
    height: 60vmin;
    width: 80vw;
    flex-direction: column;
    background-color: #224860;
    border-radius: 3vmin;
    position: relative;
    justify-content: center;
    align-items: center;
}