@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import './_fonts';

    html {
        font-size: 87.5%;
        @apply font-body;
    }

    body {
        scroll-behavior: smooth;
    }

    input::-webkit-calendar-picker-indicator {
        display: none !important;
    }

    // Workaround WP theme's built-in style
    .hidden {
        opacity: initial;
    }
}

/* A temporary solution to make sticky header work (FIXME?) */
#page {
    overflow: initial !important;
}

/* Customize the WP cookies notice */
#branda-cookie-notice {
    background-color: theme('colors.black') !important;
    color: theme('colors.white') !important;
    font-family: theme('fontFamily.body') !important;
    left: 0 !important;
    right: 0 !important;
    margin: theme('margin.4') !important;
    border-radius: theme('borderRadius.2xl') !important;
    min-width: 0 !important;
    box-shadow: 0 0 1rem theme('colors.accent.blue.DEFAULT') !important;
}
#branda-cookie-notice .button {
    background: none !important;
    background-color: theme('colors.accent.yellow.dark') !important;
    border: none !important;
    border-radius: theme('borderRadius.DEFAULT') !important;
    font-family: theme('fontFamily.display') !important;
    font-weight: 600;
    text-transform: uppercase !important;
}

/* For debugging purposes only */
* {
    // outline: 1px solid rgba(255 0 0 / 0.25);
}

// FOR TESTING ANIMATIONS
@keyframes test-appear-up-anim {
    from {
        // @ apply transform translate-y-4 opacity-0;
        transform: translateY(theme('translate.4'));
        opacity: 0;
    }
}
#pagetitle {
    text-shadow: -1px -1px 0 #f26628, 1px -1px 0 #f26628, -1px 1px 0 #f26628,
        1px 1px 0 #f26628;
}
