.navContainer {
    padding-left: var(--diagonal-offset);
}

.mobileIcon {
    animation: mobileIconAppearAnim 0.25s;
}
@keyframes mobileIconAppearAnim {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
}

.hoverUnderlineAnimation {
    display: inline-block;
    position: relative;
}

.hoverUnderlineAnimation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #224860;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
