
.ImgDep2{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 610px;
    background: #FAFAFA;
    box-shadow: 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    top: 40px;
}

.ImgDep1{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 730px;
    background: #FAFAFA;
    box-shadow: 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    top: 40px;

}

.ImgDep3{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 490px;
    background: #FAFAFA;
    box-shadow: 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    top: 40px;
}

.ImgDep4{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 370px;
    background: #FAFAFA;
    box-shadow: 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    top: 40px;
}

.ImgDep5{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 250px;
    background: #FAFAFA;
    box-shadow: 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    top: 40px;
    
}

@media screen and (min-width: 280px) and (max-width: 700px) {
  .ImgDep1{
    top: 250px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    right: 90px;
}

  .ImgDep2{
      top: 250px;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      right: 20px;
  }

  .ImgDep3{
    top: 250px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    right: -50px;
}

.ImgDep4{
  top: 250px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  right: -120px;
}

.ImgDep5{
  top: 250px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  right: -190px;
}
}

@media screen and (min-width: 280px) and (max-width: 360px) {
  .ImgDep1{
    right: 70px;
  }

  .ImgDep2{
    right: 5px;
  }

  .ImgDep3{
    right: -60px;
  }

  .ImgDep4{
    right: -130px;
  }

  .ImgDep5{
    right: -200px;
  }
}

@media screen and (min-width: 400px) and (max-width: 470px) {
  .ImgDep1{
    right: 110px;
  }

  .ImgDep2{
    right: 40px;
  }

  .ImgDep3{
    right: -30px;
  }

  .ImgDep4{
    right: -100px;
  }

  .ImgDep5{
    right: -170px;
  }
}

@media screen and (min-width: 750px) and (max-width: 800px) {
   .ImgDep1{
    right: 430px;
  }

  .ImgDep2{
    right: 280px;
  }

  .ImgDep3{
    right: 130px;
  }

  .ImgDep4{
    right: -20px;
  }

  .ImgDep5{
    right: -170px;
  }
}

@media screen and (min-width: 700px) and (max-width: 750px) {
  .ImgDep1{
   right: 410px;
 }

 .ImgDep2{
   right: 260px;
 }

 .ImgDep3{
   right: 120px;
 }

 .ImgDep4{
   right: -40px;
 }

 .ImgDep5{
   right: -190px;
 }
}

@media screen and (min-width: 735px) and (max-width: 750px) {
  .ImgDep1{
   right: 410px;
 }

 .ImgDep2{
   right: 260px;
 }

 .ImgDep3{
   right: 120px;
 }

 .ImgDep4{
   right: -40px;
 }

 .ImgDep5{
   right: -190px;
 }
}

@media screen and (min-width: 700px) and (max-width: 735px) {
  .ImgDep1{
   right: 380px;
   
 }

 .ImgDep2{
   right: 230px;
 }

 .ImgDep3{
   right: 80px;
 }

 .ImgDep4{
   right: -70px;
 }

 .ImgDep5{
   right: -210px;
 }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .ImgDep1{
    right: 460px;
  }

  .ImgDep2{
    right: 310px;
  }

  .ImgDep3{
    right: 160px;
  }

  .ImgDep4{
    right: 10px;
  }

  .ImgDep5{
    right: -140px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .ImgDep1{
    left: 0px;
    width: 65px;
    height: 65px;
    border-radius: 15px;
  }

  .ImgDep2{
    left: 90px;
    width: 65px;
    height: 65px;
    border-radius: 15px;
  }

  .ImgDep3{
    left: 170px;
    width: 65px;
    height: 65px;
    border-radius: 15px;
  }

  .ImgDep4{
    left: 250px;
    width: 65px;
    height: 65px;
    border-radius: 15px;
  }

  .ImgDep5{
    left: 330px;
    width: 65px;
    height: 65px;
    border-radius: 15px;
  }
}