.Bg2{
    background-image: url("../../../assets/images/homepage/pattern2.png");
    background-size: cover;
    height: 125vh;
    background-color: #132B3B ;
    /* position: relative; */
    display: flex;
    overflow: hidden;
}

.max-width{
    width: 100%;
    display: flex;
    overflow: hidden;
  }

.box{
    max-width: 100%;
    position: absolute;
    width: 100%;
    /* background-color: #000; */
    left: 0px;
    height: 820px;
    top: 800px;
    overflow: hidden;
}

.box5{
    max-width: 100%;
    position: absolute;
    width: 100%;
    /* background-color: #000; */
    height: 200px;
    top: 1600px;
}

.box10{
    max-width: 100%;
    position: absolute;
    width: 90%;
    /* background-color: #fafafa; */
    left: 70px;
    height: 700px;
    top: 60px;
    overflow: hidden;
}

.box2{
    position: relative;
    width: 1050px;
    height: 600px;
    padding: auto;;
    background: #224860;
    border-radius: 60px;
    box-shadow: 10px 10px  #0C2434;
    bottom: -70px;
    justify-content: center;
    align-items: center;
    left: 170px;
    }

.box3{
    position: relative;
    width: 1000px;
    height: 550px;
    padding: auto;;
    background: #0C2434 ;
    border-radius: 60px;
    padding: 20px 10px 20px 10px;
    bottom: -22px;
    justify-content: center;
    align-items: center;
    left: 22px;
    }

.anthem{
    position: relative;
    width: 1010px;
    height: 330px;
    padding: auto;
    border-radius: 0px;
    bottom: 15px;
    right: 15px;
    justify-content: center;
    align-items: center;
}

.teks1{
    margin-top: 80px;
    font-size: 64px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fafafa;
}

.teks2{
    font-size: 32px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fafafa;
}

.Awan1{
    position: relative;
    width: 230px;
    height: 118px;
    left: 1090px;
    bottom: 120px;
    /* background-color: black; */
    z-index: 3;
}

.Awan2{
    width: 389px;
    height: 206px;
    position: relative;
    z-index: 3;
    top: 600px;
    left: 14px;
}

.Awan20{
    width: 389px;
    height: 206px;
    position: relative;
    z-index: 99;
    top: 0px;
    left: -220px;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .Bg2{
        width: auto;
        height: 500px;
        background-image: url("../../../assets/images/homepage/pattern2small.png");
        background-size: cover;
    }

    .max-width{
        width: 100%;
    }

    .box{
        width: 420px;
        height: 500px;
        left: 0px;
        top: 625px;
        
    }

    .Awan1{
        width: 145px;
        height: 75px;
        left: 200px;
        top: -80px;
    }

    .Awan2{
    width: 180px;
    height: 128px;
    top: 350px;
    left: 0px;
    }

    .box10{
        width: 400px;
        height: 500px;
        top: 0px;
        left: 10px;
    }

    .box2{
        width: 300px;
        height: 300px;
        left: 40px;
        top: 90px;
        z-index: 5;
    }
    
    .box3{
        width: 280px;
        height: 280px;
        left: 10px;
        top: 10px;
        
    }
   
    .anthem{
        width: 250px;
        height: 0;
        left: 5px;
        top: 10px;
    }

    .teks1{
        font-size: 24px;
        margin-top: 140px;
    }

    .teks2{
        font-size: 20px;
    }

    .Awan20{
        display: none;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 700px) {
    .Bg2{
        width: auto;
        height: 500px;
        background-image: url("../../../assets/images/homepage/pattern2small.png");
        background-size: cover;
    }

    .max-width{
        width: 100%;
    }

    .box{
        width: 900px;
        height: 500px;
        left: 0px;
        top: 625px;
    }
    
    .Awan1{
        width: 145px;
        height: 75px;
        left: 280px;
        top: -30px;
    }

    .Awan2{
    width: 180px;
    height: 128px;
    top: 400px;
    left: 0px;
    }

    .box10{
        width: 900px;
        height: 500px;
        top: 0px;
        left: 10px;
    }

    .box2{
        width: 300px;
        height: 300px;
        left: 70px;
        top: 140px;
        z-index: 5;
    }
    
    .box3{
        width: 280px;
        height: 280px;
        left: 10px;
        top: 10px;
        
    }
   
    .anthem{
        width: 250px;
        height: 0;
        left: 5px;
        top: 10px;
    }

    .teks1{
        font-size: 24px;
        margin-top: 140px;
    }

    .teks2{
        font-size: 20px;
    }

    .Awan20{
        display: none;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 365px) {
    .box2{
        left: 15px;
    }
  }

  @media screen and (min-width: 365px) and (max-width: 385px) {
    .box2{
        left: 25px;
    }
  }

  @media screen and (min-width: 385px) and (max-width: 410px) {
    .box2{
        left: 45px;
    }
  }

  @media screen and (min-width: 410px) and (max-width: 440px) {
    .box2{
        left: 55px;
    }
  }

  @media screen and (min-width: 440px) and (max-width: 460px) {
    .box2{
        left: 65px;
    }
  }

  @media screen and (min-width: 460px) and (max-width: 500px) {
    .box2{
        left: 85px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 700px) {
    .box2{
        left: 140px;
        width: 400px;
    }

    .box3{
        width: 380px;
    }

    .anthem{
        width: 350px;
    }

    .teks1{
        margin-top: 180px;
    }

    .Awan1{
        left: 450px;
    }

    .Awan2{
        left: 50px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 550px) {
    .box2{
        left: 55px;
    }

    .Awan1{
        left: 360px;
    }
  }

  @media screen and (min-width: 550px) and (max-width: 600px) {
    .box2{
        left: 85px;
    }

    .Awan1{
        left: 380px;
    }
  }


@media screen and (min-width: 701px) and (max-width: 1000px) {
    .Bg2{
        width: auto;
        height: 120vh;
        background-image: url("../../../assets/images/homepage/pattern2small.png");
      }
    
      .max-width{
        max-width: 100%;
       }

       .box{
        width: 100%;
        top: 750px;
        height: 105vh;
        left: 0px;
        overflow: hidden;
       }
       
       .box2{
        width: 550px;
        left: 110px;
        height: 500px;
        top: 70px;
        z-index: 3;
       }

       .box10{
        width: 100%;
        top: 0px;
        height: 100vh;
        left: 0px;
       }

       .box3{
        width: 500px;
        height: 450px;
       }

       .anthem{
        width: 450px;
        left: 20px;
        top: 50px;
       }

       .teks1{
        margin-top: -70px;
       }

       .Awan1{
        left: 520px;
        top: -170px;
       }

       .Awan2{
        left: -20px;
        top: 500px;
        width: 300px;
        z-index: 1;
       }

       .box5{
        top: 1400px;
       }

    
    }

    @media screen and (min-width: 900px) and (max-width: 1000px) {
        .box{
            left: 0px;
            width: 100%;
          }
  
          .box2{
              left: 210px;
          }
  
          .Awan1{
              left: 600px;
          }
  
          .Awan2{
              left: 100px;
          }
          .box10{
            width: 100%;
          }
    }

    @media screen and (min-width: 800px) and (max-width: 900px) {
        .box{
          left: 0px;
          width: 100%;
        }

        .box2{
            left: 140px;
        }

        .Awan1{
            left: 550px;
        }

        .Awan2{
            left: 50px;
        }
        .box10{
            width: 100%;
        }
    }

    @media screen and (min-width: 1181px) and (max-width: 1280px) {
        
      .max-width{
        max-width: 100%;
       }

       .box{
        width: 100%;
        top: 680px;
        height: 120%;
        left: 0px;
        overflow: hidden;
       }

       .box2{
        left: 90px;
        top: 120px;
       
       }

       .box10{
        width: 100%;
        top: 0px;
        height: 120%;
        left: 0px;
        overflow: hidden;
       }

       .Awan1{
        left: 950px;
        top: -130px;
       }

       .Awan2{
        top: 600px;
        width: 300px;
       }

       .Awan20{
        top:-180px;
       }
    }

    @media screen and (min-width: 1001px) and (max-width: 1180px) {
        .box2{
            width: 850px ;
            display: flex;
            left: 80px;
            align-items: center;
        }

        .box3{
            width: 800px;
            left: 5px;
            top: 0px;
            align-items: center;
        }

        .anthem{
            width: 780px;
            left: 0px;
        }

        .teks1{
            margin-top: 50px;
        }

        .Awan1{
            left: 800px;
            top: -180px;
        }

        .Awan2{
            left: -20px;
            width:  300px;
            left: 20px;
        }

        .box{
            width: 100%;
            top: 680px;
            height: 120%;
            left: 0px;
            overflow: hidden;
           }

           .box10{
            width: 100%;
            top: 0px;
            height: 120%;
            left: 0px;
            overflow: hidden;
           }

           .max-width{
            max-width: 100%;
           }

           .Awan20{
            top: -180px;
           }
    }

    @media screen and (min-width: 1100px) and (max-width: 1180px) {
        .box2{
            left: 160px ;
        }
    }
    @media screen and (min-width: 1050px) and (max-width: 1100px) {
        .box2{
            left: 120px ;
        }
    }

    
    @media screen and (min-width: 1280px) and (max-width: 1400px) {
        
        .max-width{
          max-width: 100%;
         }
  
         .box{
          width: 100%;
          top: 680px;
          height: 120%;
          left: 0px;
          overflow: hidden;
         }
  
         .box2{
          left: 160px;
          top: 120px;
         
         }
  
         .box10{
          width: 100%;
          top: 0px;
          height: 120%;
          left: 0px;
          overflow: hidden;
         }
  
         .Awan1{
          left: 1000px;
          top: -130px;
         }
  
         .Awan2{
          top: 600px;
          width: 300px;
         }
  
         .Awan20{
          top:-180px;
         }
        }

        @media screen and (min-width: 1400px) and (max-width: 1500px) {
        
            .max-width{
              max-width: 100%;
             }
      
             .box{
              width: 100%;
              top: 680px;
              height: 120%;
              left: 0px;
              overflow: hidden;
             }
      
             .box2{
              left: 220px;
              top: 120px;
             
             }
      
             .box10{
              width: 100%;
              top: 0px;
              height: 120%;
              left: 0px;
              overflow: hidden;
             }
      
             .Awan1{
              left: 1100px;
              top: -130px;
             }
      
             .Awan2{
              top: 600px;
              width: 300px;
             }
      
             .Awan20{
              top:-180px;
             }
            }
    
