.Bg9{
    display: flex;
}

.kotak4{
    max-width: 100%;
    height: 600px;
    width: 100%;
    position: absolute;
   /* background-color: #0C2434; */
}

.kotak5{
    position: relative;
    width: 494.56px;
    height: 354.52px;
    padding: auto;
    background: #224860;
    border-radius: 60px;
    padding: 20px 10px 20px 10px;
    box-shadow: 10px 10px  #0C2434;
    top:140px;
    justify-content: center;
    align-items: center;
    left: 235px;
}

.Awan5{
    position: absolute;
    width: 389px;
    height: 206px;
    left: -85px;
    top: -20px;
}

.kotak7{
    position: absolute;
    width: 284px;
    height: 65px;
    left: 0;
    top: 0;
    background: #F26628;
    border-radius: 0px 45px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 10;
}

.kb{
    position: absolute;
    width: 222px;
    height: 28px;
    left: 30px;
    top: 15px;
    
    font-family: 'Gill Sans MT';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;  
    color: #FFFFFF;
    z-index: 20;
}

.kotak8{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 600px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top: 300px;
}

.logo10{
    position: absolute;
    top: 8px;
    left: 20px;
}

.kotak9{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 300px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top:200px;
}

.logo11{
    position: absolute;
    top: 16px;
    left: 12px;
   
}

.kotak13{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 100px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top:400px;
    
}


.logo12{
    position: absolute;
    top: 16px;
    left: 12px;

}

.kotak11{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 400px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top: 500px;
}

.logo13{
    position: absolute;
    top: 15px;
    left: 16px;
   

}

.kotak12{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 500px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top: 90px;
}

.logo14{
    position: absolute;
    top: 8px;
    left: 15px;
}

@media screen and (min-width: 280px) and (max-width: 700px) {
   

    .kotak4{
        width: 100%;
        height: 800px;
        left: 30px;
        top: 3400px;
        left: 0px;
    }

    .kotak5{
        width: 300px;
        height: 300px;
        left: 60px;
        top: 290px;
        z-index: 5;
    }
    
    .kotak7{
        width: 150px;
    }

    .kb{
        width: 150px;
        left: -5px;
        top: 15px;
        font-size: 16px;
    }

    .Awan5{
        top: 230px;
        left: -70px;
        width: 200px;
    }

    .kotak12{
        display: none;
    }

    .kotak8{
        display: none;
    }

    .kotak11{
        display: none;
    }
    .kotak9{
        display: none;
    }

    .kotak13{
        display: none;
    }
  }

  
@media screen and (min-width: 280px) and (max-width: 400px) {
    .kotak4{
        top: 3360px;
        left: 8px;
        width: 200px;
    }

    .kotak5{
        left: 25px;
    }

    .Awan5{
        left: -80px;
        top: 200px;
    }
}

@media screen and (min-width: 400px) and (max-width: 470px) {
    .kotak4{
        top: 3400px;
        left: 8px;
        width: 200px;
    }

    .kotak5{
        left: 55px;
    }

    .Awan5{
        left: -80px;
        top: 200px;
    }
}

@media screen and (min-width: 470px) and (max-width: 550px) {
    .kotak4{
        top: 3360px;
        left: 80px;
        width: 200px;
    }

    .kotak5{
        left: 45px;
    }

    .Awan5{
        left: -120px;
        top: 200px;
    }
}

@media screen and (min-width: 550px) and (max-width: 600px) {
    .kotak4{
        top: 3360px;
        left: 80px;
        width: 200px;
    }

    .kotak5{
        left: 65px;
    }

    .Awan5{
        left: -120px;
        top: 200px;
    }
}

@media screen and (min-width: 600px) and (max-width: 650px) {
    .kotak4{
        top: 3360px;
        left: 80px;
        width: 200px;
    }

    .kotak5{
        left: 85px;
    }

    .Awan5{
        left: -120px;
        top: 200px;
    }
}

@media screen and (min-width: 650px) and (max-width: 700px) {
    .kotak4{
        top: 3360px;
        left: 80px;
        width: 200px;
    }

    .kotak5{
        left: 105px;
    }

    .Awan5{
        left: -120px;
        top: 200px;
    }
}



@media screen and (min-width: 701px) and (max-width: 1000px) {
    .kotak5{
        left: 180px;
        top: 250px;
    }

    .kotak13{
        display: none;
    }

    .Awan5{
        left: -150px;
        top: 20px;
    }
}

@media screen and (min-width: 701px) and (max-width: 800px) {
    .kotak5{
        left: 120px;
        top: 200px;
    }

    .Awan5{
        left: -150px;
        top: 20px;
    }

}

@media screen and (min-width: 1001px) and (max-width: 1280px) {
    .kotak9{
        display: none;
    }
}