

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Gill Sans MT', sans-serif;
}




html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 5px;
  border-radius: 50px;
}

::-webkit-scrollbar-track{
  background: #fff;
}

::-webkit-scrollbar-thumb{
  background: #F26628;
}

::-webkit-scrollbar-thumb:hover{
  background: #F8A36C;
}


