.Bg20{
    display: flex;
    width: 100%;
    /* background-color: #014d40; */
    height: 60vh;
    overflow-x: hidden;
    background-image: url('../../assets/images/homepage/pattern3.png');
    background-color: #F1F1F1;
}

@media screen and (min-width: 280px) and (max-width: 470px) {
    .Bg20{ 
     width: 100%;
     height: 110vh;
     background-image: url("../../assets/images/homepage/pattern3small.png");
     background-size: cover;
     
 }
 }

 @media screen and (min-width: 470px) and (max-width: 700px) {
    .Bg20{ 
     
     height: 100vh; 
     width: 100%;
     background-image: url("../../assets/images/homepage/pattern3small.png");
     background-size: cover;
     
 }
 }


 @media screen and (min-width: 701px) and (max-width: 1000px) {
    .Bg20{ 
        width: 100%;
        height: 110vh;
        background-image: url('../images/pattern3small.png');
       
    }
 }

 