.Bg21{
    display: flex;
    width: 100%;
    /* background-color: #014d40; */
    height: 100vh;
    z-index: -5;
    background-image: url('../../assets/images/homepage/pattern3.png');
    background-color: #F1F1F1;
    overflow: hidden;
}


@media screen and (min-width: 280px) and (max-width: 700px) {
   .Bg21{ 
    width: auto;
    height: 750px;
    background-image: url("../../assets/images/homepage/pattern3small.png");
    background-size: cover;
}
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .Bg21{
        width: 100%;
        height: 150vh;
        background-image: url("../../assets/images/homepage/pattern3small.png");
    }
}



